.cart .checkout{
    
    box-sizing: border-box;
    margin: 0;
    min-width: 0px;
    display: flex;
}
.cart .cart-mng{
    
    display:flex;
    justify-content: space-between;
    margin: 10px 10px 10px 0px;
}
.cart .cart-mng .s{
    
    display:flex;
    justify-content: space-between;
    width: 100%;
    color: #ee4d2d;
}

.cart .checkout .infor-price{
    box-sizing: border-box;
    margin-right: 10px;
    min-width: 0px;
    width: 100%;
    
}
.cart .checkout .infor-price .product .delete
{
    
    width: 30px;
    margin-left: 1000px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.cart .checkout .infor-price .product .img-item{
    width: 100px;
    height: 100px;
    
}

.cart .checkout .infor-price .product .detail{
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 150px;
    padding: 15px;
    box-shadow: 2px 2px 15px #ddd;
    margin: 10px 0;
    position: relative;
    
}



.shop{
   
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.shop .name {
    
    color: black;
    left :10 px;
}

.shop .total-price {
    padding-left: 10px;
    color: #ee4d2d;
    
}
.checkout-button{
    display:inline-block;
    border:1px solid #ee4d2d;
    background-color:#ee4d2d;
    padding:15px 20px;
    box-shadow:2px 2px 5px #6c6969;
    text-decoration:none;
    border-radius:3px;
    color:white;
    margin-top: 10px;
    margin-bottom: 25px;
    left: 87%;
}

.checkout-button:hover{
    border:1px solid #b11e10;
    background-color:#b11e10;
}

#check-button {
    background: #ee4d2d;
    
}

.detail .trash-can{
    position:relative;
    left: 100px;
    
}

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type="button"] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}