.product-card {
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
  }
  .product-card img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
  }
  .product-box h2 {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
  }
  .product-card span {
    color: crimson;
  }
  .product-box p {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
  }
  .row-btn {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .row-btn a {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
  }
  #btn-buy {
    background: #555;
    margin-right: 5px;
  }
  #btn-view {
    background: teal;
    margin-left: 5px;
  }
  
  .sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all 0.5s ease;
  }
  .sidebar header {
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: "Montserrat", sans-serif;
  }
  .sidebar ul li {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 5px solid transparent;
    font-family: "Open Sans", sans-serif;
    transition: all 0.5s ease;
  }
  