.change-page {
  width: 100%;
  background: rgba(255, 255, 255, 0.877);
  padding: 25px 30px;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container {
  margin: auto;
  width: 500px;
  max-width: 90%;
}
.container form {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.877);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.container form .input-box {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 4px;
  border: 1px solid silver;
  margin: 10px 0 18px 0;
  padding: 0 10px;
}
.title {
  text-align: center;
  margin-bottom: 24px;
  color: #222;
}

.change-page .container .re-button:hover {
  background: #838181;
}

.change-page .container .re-button {
  width: 60px;
  height: 34px;
  border: none;
  outline: none;
  background: rgb(160, 160, 160);
  transition: 0.3s;
  border-radius: 4px;
  /*position: relative;
	left: 75%;*/
}
